
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
</head>
<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <!-- here we did minimum of 3 cards are placed in a row -->
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id%>" class="listing-link">
                <div class="card col">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing image"
                        style="height: 20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body ">
                        <p class="card-text">
                            <%=listing.title%>
                        </p>
                        &#8377; <%= Number(listing.price).toLocaleString("en-IN") %>
                       
                    </div>
                </div>
            </a>
        <% } %>
    </div>

    <!-- <form method="GET" action="/listings/new">
        <button >Create New Listing</button>
    </form> -->

    <!-- <% for(let listing of allListings){ %>
        <li><a href="/listings/<%= listing._id%>"><%= listing.title %></li>
            <br>
    <% } %>
    
</ul> -->

</body>

